---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- <style>
  li {
    margin-bottom: 40px; /* Adjust spacing as needed */
  }
</style> -->
<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<ol>
  <li>
    <em>Blockchain Security and Privacy: Threats, Challenges, Applications, and Tools</em><br>
    A. Alghuried, M. Alkinoon, M. Mohaisen, A. Wang, C. C Zou, D. Mohaisen<br>
    ACM Distributed Ledger Technologies: Research and Practice, doi: https://doi.org/10.1145/3716323, [<strong><a href="https://dl.acm.org/doi/abs/10.1145/3716323" target="_blank">Link</a></strong>]
  </li>
  <br>
  <li>
    <em>Improving the Social Connectivity in Engineering Educational Networks and Implications</em><br>
    M. Mohaisen, D. Mohaisen<br>
    IEEE Transactions on Education, vol. 66, no. 1, pp. 30-37, Feb. 2023, doi: 10.1109/TE.2022.3175659, [<strong><a href="https://ieeexplore.ieee.org/abstract/document/9779858" target="_blank">Link</a></strong>]
  </li>
</ol>

<!-- {% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->


