---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- <style>
  li {
    margin-bottom: 40px; /* Adjust spacing as needed */
  }
</style> -->
<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<ol>
  <li>
    <em>A Comprehensive Analysis of Evolving Permission Usage in Android Apps: Trends, Threats, and Ecosystem Insights</em><br>
    A. Alkinoon <em>et al.</em><br>
    <strong>Journal of Cybersecurity and Privacy</strong>, 2025, [<a href="https://www.mdpi.com/2624-800X/5/3/58" target="_blank">Link</a>]
  </li>
  <br>
  <li>
    <em>Industry-Specific Vulnerability Assessment</em><br>
    M. Alkinoon, H. Althebeiti, A. Alkinoon, M. Mohaisen, S. Salem, D. Mohaisen<br>
    <strong>Int. Conf. on Web Inf. Syst. Eng.</strong>, 2025, [<a href="https://link.springer.com/chapter/10.1007/978-981-96-0576-7_10" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Knowledge Graph-Based Methods for Automated Driving</em><br>
    Book co-editors: R. Dhanaraj, M. Nalini, M. Sathyamoorthy, M. Mohaisen<br>
    <strong>Elsevier</strong>, 2025, [<a href="https://www.sciencedirect.com/book/9780443300400/knowledge-graph-based-methods-for-automated-driving#book-info" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Blockchain Security and Privacy: Threats, Challenges, Applications, and Tools</em><br>
    A. Alghuried, M. Alkinoon, M. Mohaisen, A. Wang, C. C Zou, D. Mohaisen<br>
    <strong>ACM Distributed Ledger Technologies: Research and Practice</strong>, 2025, [<a href="https://dl.acm.org/doi/abs/10.1145/3716323" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Improving the Social Connectivity in Engineering Educational Networks and Implications</em><br>
    M. Mohaisen, D. Mohaisen<br>
    <strong>IEEE Trans. on Educ.</strong>, 2023, [<a href="https://ieeexplore.ieee.org/abstract/document/9779858" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Revisiting the Deep Learning-Based Eavesdropping Attacks via Facial Dynamics from VR Motion Sensors</em><br>
    S. Choi, M. Mohaisen, D. Nyang, D. Mohaisen<br>
    <strong>Int. Conf. on Inf. and Commun. Secur.</strong>, 2023, [<a https://link.springer.com/chapter/10.1007/978-981-99-7356-9_24" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>A Large-Scale Behavioral Analysis of the Open DNS Resolvers on the Internet</em><br>
    J. Park, R. Jang, M. Mohaisen, D. Mohaisen<br>
    <strong>IEEE/ACM Transactions on Networking</strong>, 2022, [<a https://ieeexplore.ieee.org/document/9523630" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Parallel Complex Quadrature Spatial Modulation</em><br>
    S. Murtala, N. Muchena, T. Holoubi, M. Mohaisen, K. Choi<br>
    <strong>Applied Sciences</strong>, 2021, [<a https://www.mdpi.com/2076-3417/11/1/330" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Security Breaches in the Healthcare Domain: A Spatiotemporal Analysis</em><br>
    M. Al Kinoon, M. Omar, M. Mohaisen, D. Mohaisen<br>
    <strong>CSoNet</strong>, 2021, [<a https://link.springer.com/chapter/10.1007/978-3-030-91434-9_16" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Assessing the Effectiveness of Pulsing Denial of Service Attacks under Realistic Network Synchronization Assumptions</em><br>
    J. Park, M. Mohaisen, D. Nyang, A. Mohaisen <br>
    <strong>Computer Networks</strong>, 2020, [<a https://www.sciencedirect.com/science/article/abs/pii/S1389128619313118?via%3Dihub" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>On the Performance of Improved Quadrature Spatial Modulation</em><br>
    T. Holoubi, S. Murtala, N. Muchena, M. Mohaisen<br>
    <strong>ETRI Journal</strong>, 2020, [<a https://onlinelibrary.wiley.com/doi/full/10.4218/etrij.2019-0431" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>On the Performance of the Multiple Active Antenna Spatial Modulation with 3-dimensional Constellation</em><br>
    S. Murtala, T. Holoubi, N. Muchena, M. Mohaisen, K. Choi<br>
    <strong>Applied Sciences</strong>, 2020, [<a https://www.mdpi.com/2076-3417/10/11/3718" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Performance Analysis and Constellation Design for the Parallel Quadrature Spatial Modulation</em><br>
    M. Mohaisen, T. Holoubi, T. Abuhmed<br>
    <strong>Entropy</strong>, 2020, [<a https://www.mdpi.com/1099-4300/22/8/841" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>The Network ROI: Concept, Metrics, and Measurement of Social Media Returns (a Facebook Experiment)</em><br>
    G. Khan, M. Mohaisen, M. Trier<br>
    <strong>Internet Research</strong>, 2020, [<a https://www.emerald.com/intr/article-abstract/30/2/631/390907/The-network-ROIConcept-metrics-and-measurement-of?redirectedFrom=fulltext" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Constellation Design and Performance Analysis of the Parallel Spatial Modulation</em><br>
    M. Mohaisen<br>
    <strong>International Journal of Communication Systems</strong>, 2019, [<a "https://onlinelibrary.wiley.com/doi/10.1002/dac.4165" target="_blank">Link</a>]
  </li>
  <br>

    <li>
    <em>Generalized Complex Quadrature Spatial Modulation</em><br>
    M. Mohaisen<br>
    <strong>Wireless Communications and Mobile Computing</strong>, 2019, [<a "https://onlinelibrary.wiley.com/doi/10.1155/2019/3137927" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Investigating DNS Manipulation by Open DNS Resolvers</em><br>
    J. Park, M. Mohaisen, A. Mohaisen<br>
    <strong>ACM CoNEXT</strong>, 2019, [<a "https://dl.acm.org/doi/10.1145/3360468.3368172" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Reduced Complexity Lattice-based Multiple-input Multiple-output Schemes</em><br>
    N. Ouni,K. Tourki, M. Mohaisen, R. Bouallegue<br>
    <strong>IET Communications</strong>, 2019, [<a "https://ietresearch.onlinelibrary.wiley.com/doi/epdf/10.1049/iet-com.2018.5586" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Where Are You Taking Me? Behavioral Analysis of Open DNS Resolvers</em><br>
    J. Park, A. Khormali, M. Mohaisen, A. Mohaisen<br>
    <strong>IEEE/IFIP DSN</strong>, 2019, [<a "https://ieeexplore.ieee.org/document/8809494" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Where Are You Taking Me? Behavioral Analysis of Open DNS Resolvers</em><br>
    J. Park, A. Khormali, M. Mohaisen, A. Mohaisen<br>
    <strong>IEEE/IFIP DSN</strong>, 2019, [<a "https://ieeexplore.ieee.org/document/8809494" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Downlink Macro-diversity Precoding-aided Spatial Modulation</em><br>
    M. Mohaisen, V. Pruks<br>
    <strong>Journal of Communications and Networks</strong>, 2018, [<a "https://ieeexplore.ieee.org/document/8320560" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Increasing the Minimum Euclidean Distance of the Complex Quadrature Spatial Modulation</em><br>
    M. Mohaisen<br>
    <strong>IET Communications</strong>, 2018, [<a "https://ietresearch.onlinelibrary.wiley.com/doi/epdf/10.1049/iet-com.2017.1198" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Modulation Set Optimization for the Improved Complex Quadrature SM</em><br>
    M. Mohaisen, V. Pruks<br>
    <strong>Wireless Communications and Mobile Computing</strong>, 2018, [<a "https://onlinelibrary.wiley.com/doi/10.1155/2018/6769484" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Complex Quadrature Spatial Modulation</em><br>
    M. Mohaisen, A. Lee<br>
    <strong>ETRI Journal</strong>, 2017, [<a "https://onlinelibrary.wiley.com/doi/full/10.4218/etrij.17.0116.0933" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Characterizing Collaboration in Social Network-enabled Routing</em><br>
    A. Mohaisen, M. Mohaisen<br>
    <strong>KSII Transactions on Internet and Information Systems</strong>, 2016, [<a "https://itiis.org/digital-library/manuscript/1316" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>A Review of Fixed-complexity Vector Perturbation for MU-MIMO</em><br>
    M. Mohaisen<br>
    <strong>Journal of Information Processing Systems</strong>, 2015, [<a "https://jips-k.org/q.jips?cp=pp&pn=363" target="_blank">Link</a>]
  </li>
  <br> 

  <li>
    <em>Aligned Space Time Block Codes for the 2-User X Channel with Secrecy Constraints</em><br>
    M. Mohaisen<br>
    <strong>International Journal of Antennas and Propagation</strong>, 2015, [<a "https://onlinelibrary.wiley.com/doi/10.1155/2015/594791" target="_blank">Link</a>]
  </li>
  <br>  

  <li>
    <em>AMAL: High-fidelity, Behavior-based Automated Malware Analysis and Classification</em><br>
    A. Mohaisen, O. Alrawi, M. Mohaisen<br>
    <strong>Computers and Security</strong>, 2015, [<a "https://www.sciencedirect.com/science/article/abs/pii/S0167404815000425?via%3Dihub" target="_blank">Link</a>]
  </li>
  <br>  

  <li>
    <em>Remarks on the Performance of the Linear Detectors in MIMO Spatial Multiplexing Systems</em><br>
    M. Mohaisen, A. Razinkova<br>
    <strong>Journal of Internet Technology</strong>, 2015, [<a "https://www.airitilibrary.com/Article/Detail/16079264-201509-201510020026-201510020026-817-824" target="_blank">Link</a>]
  </li>
  <br>  

  <li>
    <em>Parallel QRD-M Encoder for Multi-user MIMO Systems</em><br>
    M. Mohaisen, A. Mohaisen, M. Debbah<br>
    <strong>Telecommunication Systems</strong>, 2014, [<a "https://link.springer.com/article/10.1007/s11235-013-9856-1" target="_blank">Link</a>]
  </li>
  <br> 

  <li>
    <em>A Review of IEEE 802.15.6 MAC, PHY, and Security Specifications</em><br>
    S. Ullah, M. Mohaisen, M.A. Alnuem<br>
    <strong>International Journal of Distributed Sensor Networks</strong>, 2013, [<a "https://journals.sagepub.com/doi/10.1155/2013/950704" target="_blank">Link</a>]
  </li>
  <br> 

  <li>
    <em>Adaptive Parallel and Iterative QRDM Detection Algorithms for MIMO Multiplexing Systems</em><br>
    M. Mohaisen, B. Hui, K. Chang<br>
    <strong>Wireless Personal Communications</strong>, 2012, [<a "https://link.springer.com/article/10.1007/s11277-011-0364-x" target="_blank">Link</a>]
  </li>
  <br>  

  <li>
    <em>Collaboration in Social Network-based Information Dissemination</em><br>
    A. Mohaisen, T. Abuhmed, T. Zhu, M. Mohaisen<br>
    <strong>IEEE ICC</strong>, 2012, [<a "https://ieeexplore.ieee.org/document/6364127" target="_blank">Link</a>]
  </li>
  <br>   
  
  <li>
    <em>MIMO Detection Techniques Based on Low Complexity Adaptive QR-Decomposition with M-Algorithm for 3GPP LTE Systems</em><br>
    B. Hui, M. Mohaisen, D. Han, K. Chang, Y. Baek, B. Koo<br>
    <strong>Wireless Personal Communications</strong>, 2012, [<a "https://link.springer.com/article/10.1007/s11277-011-0392-6" target="_blank">Link</a>]
  </li>
  <br>   
    
  <li>
    <em>Tight Lower Bounds on Achievable Information Rates for Regularized Tomlinson-Harashima Precoding in Multi-user MIMO Systems</em><br>
    B. Hui, M. Mohaisen, K. Chang<br>
    <strong>IEICE Transactions on Communications</strong>, 2012, [<a "https://www.jstage.jst.go.jp/article/transcom/E95.B/4/E95.B_4_1463/_article" target="_blank">Link</a>]
  </li>
  <br> 
    
  <li>
    <em>Efficiency Improvement of the Fixed-complexity Sphere Decoder</em><br>
    M. Mohaisen, K. Chang<br>
    <strong>KSII Transactions on Internet and Information Systems</strong>, 2011, [<a "" target="_blank">Link</a>]
  </li>
  <br> 
      
  <li>
    <em>Fixed-complexity Sphere Encoder for Multi-user MIMO Systems</em><br>
    M. Mohaisen, K. Chang<br>
    <strong>Journal of Communications and Networks</strong>, 2011, [<a "https://ieeexplore.ieee.org/document/6157253" target="_blank">Link</a>]
  </li>
  <br> 
      
  <li>
    <em>Parallel QRD-M Encoder for Decentralized Multi-user MIMO Systems</em><br>
    M. Mohaisen, A. Mohaisen, Y. Li, P. Luo<br>
    <strong>IEEE ICC</strong>, 2011, [<a "https://ieeexplore.ieee.org/document/5963389" target="_blank">Link</a>]
  </li>
  <br> 
      
  <li>
    <em>Upper-lower Bounded-complexity QRD-M for Spatial Multiplexing MIMO-OFDM Systems</em><br>
    M. Mohaisen, K. Chang<br>
    <strong>Wireless Personal Communications</strong>, 2011, [<a "https://link.springer.com/article/10.1007/s11277-010-0014-8" target="_blank">Link</a>]
  </li>
  <br>   
      
  <li>
    <em>Coordinated Transmit and Receive Processing with Adaptive Multi-stream Selection</em><br>
    H. An, M. Mohaisen, D. Han, K. Chang<br>
    <strong>IEEE WiCOM</strong>, 2011, [<a "https://ieeexplore.ieee.org/document/5601347" target="_blank">Link</a>]
  </li>
  <br>
        
  <li>
    <em>Parallel QR Decomposition in LTE-A Systems</em><br>
    S. Aubert, M. Mohaisen, F. Nouvel, K. Chang<br>
    <strong>IEEE SPAWC</strong>, 2010, [<a "https://ieeexplore.ieee.org/document/5671007" target="_blank">Link</a>]
  </li>
  <br>  
        
  <li>
    <em>Adaptive Parallel and Iterative QRDM Algorithms for Spatial Multiplexing MIMO Systems</em><br>
    M. Mohaisen, K. Chang, B. Koo<br>
    <strong>IEEE VTC</strong>, 2009, [<a "https://ieeexplore.ieee.org/document/5379003" target="_blank">Link</a>]
  </li>
  <br>  
        
  <li>
    <em>Detection Techniques for MIMO Multiplexing: A Comparative Review</em><br>
    M. Mohaisen, H. An, K. Chang<br>
    <strong>KSII Transactions on Internet and Information Systems</strong>, 2009, [<a "https://www.itiis.org/digital-library/manuscript/63" target="_blank">Link</a>]
  </li>
  <br>   
        
  <li>
    <em>Fixed-complexity Vector Perturbation with Block Diagonalization for MU-MIMO Systems</em><br>
    M. Mohaisen, H. An, K. Chang<br>
    <strong>IEEE MICC</strong>, 2009, [<a "https://ieeexplore.ieee.org/document/5431503" target="_blank">Link</a>]
  </li>
  <br> 
        
  <li>
    <em>Improved Achievable Rates for Regularized Tomlinson-Harashima Precoding in Multiuser MIMO Downlink</em><br>
    B. Hui, M. Mohaisen, K. Chang<br>
    <strong>IEEE PIMRC</strong>, 2009, [<a "https://ieeexplore.ieee.org/document/5449745" target="_blank">Link</a>]
  </li>
  <br> 
        
  <li>
    <em>Lattice Reduction Aided Precoding for Multiuser MIMO Using Seysen's Algorithm</em><br>
    H. An, M. Mohaisen, K. Chang<br>
    <strong>IEEE PIMRC</strong>, 2009, [<a "https://ieeexplore.ieee.org/document/5450237" target="_blank">Link</a>]
  </li>
  <br> 
        
  <li>
    <em>On Improving the Efficiency of the Fixed-complexity Sphere Decoder</em><br>
    M. Mohaisen, K. Chang<br>
    <strong>IEEE VTC</strong>, 2009, [<a "https://ieeexplore.ieee.org/document/5378999" target="_blank">Link</a>]
  </li>
  <br> 


  
  
</ol>

<!-- {% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->


