---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- <style>
  li {
    margin-bottom: 40px; /* Adjust spacing as needed */
  }
</style> -->
<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<ol reversed>
  <li>
    <em>Industry-Specific Vulnerability Assessment</em><br>
    M. Alkinoon, H. Althebeiti, A. Alkinoon, M. Mohaisen, S. Salem, D. Mohaisen<br>
    <strong>Int. Conf. on Web Inf. Syst. Eng.</strong>, 2025, [<a href="https://link.springer.com/chapter/10.1007/978-981-96-0576-7_10" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Blockchain Security and Privacy: Threats, Challenges, Applications, and Tools</em><br>
    A. Alghuried, M. Alkinoon, M. Mohaisen, A. Wang, C. C Zou, D. Mohaisen<br>
    <strong>ACM Distributed Ledger Technologies: Research and Practice</strong>, 2025, [<a href="https://dl.acm.org/doi/abs/10.1145/3716323" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Improving the Social Connectivity in Engineering Educational Networks and Implications</em><br>
    M. Mohaisen, D. Mohaisen<br>
    <strong>IEEE Trans. on Educ.</strong>, 2023, [<a href="https://ieeexplore.ieee.org/abstract/document/9779858" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Revisiting the Deep Learning-Based Eavesdropping Attacks via Facial Dynamics from VR Motion Sensors</em><br>
    S. Choi, M. Mohaisen, D. Nyang, D. Mohaisen<br>
    <strong>Int. Conf. on Inf. and Commun. Secur.</strong>, 2023, [<a https://link.springer.com/chapter/10.1007/978-981-99-7356-9_24" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>A Large-Scale Behavioral Analysis of the Open DNS Resolvers on the Internet</em><br>
    J. Park, R. Jang, M. Mohaisen, D. Mohaisen<br>
    <strong>IEEE/ACM Transactions on Networking</strong>, 2022, [<a https://ieeexplore.ieee.org/document/9523630" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Parallel Complex Quadrature Spatial Modulation</em><br>
    S. Murtala, N. Muchena, T. Holoubi, M. Mohaisen, K. Choi<br>
    <strong>Applied Sciences</strong>, 2021, [<a https://www.mdpi.com/2076-3417/11/1/330" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Security Breaches in the Healthcare Domain: A Spatiotemporal Analysis</em><br>
    M. Al Kinoon, M. Omar, M. Mohaisen, D. Mohaisen<br>
    <strong>CSoNet</strong>, 2021, [<a https://link.springer.com/chapter/10.1007/978-3-030-91434-9_16" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Assessing the Effectiveness of Pulsing Denial of Service Attacks under Realistic Network Synchronization Assumptions</em><br>
    J. Park, M. Mohaisen, D. Nyang, A. Mohaisen <br>
    <strong>Computer Networks</strong>, 2020, [<a https://www.sciencedirect.com/science/article/abs/pii/S1389128619313118?via%3Dihub" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>On the Performance of Improved Quadrature Spatial Modulation</em><br>
    T. Holoubi, S. Murtala, N. Muchena, M. Mohaisen<br>
    <strong>ETRI Journal</strong>, 2020, [<a https://onlinelibrary.wiley.com/doi/full/10.4218/etrij.2019-0431" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>On the Performance of the Multiple Active Antenna Spatial Modulation with 3-dimensional Constellation</em><br>
    S. Murtala, T. Holoubi, N. Muchena, M. Mohaisen, K. Choi<br>
    <strong>Applied Sciences</strong>, 2020, [<a https://www.mdpi.com/2076-3417/10/11/3718" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Performance Analysis and Constellation Design for the Parallel Quadrature Spatial Modulation</em><br>
    M. Mohaisen, T. Holoubi, T. Abuhmed<br>
    <strong>Entropy</strong>, 2020, [<a https://www.mdpi.com/1099-4300/22/8/841" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>The Network ROI: Concept, Metrics, and Measurement of Social Media Returns (a Facebook Experiment)</em><br>
    G. Khan, M. Mohaisen, M. Trier<br>
    <strong>Internet Research</strong>, 2020, [<a https://www.emerald.com/intr/article-abstract/30/2/631/390907/The-network-ROIConcept-metrics-and-measurement-of?redirectedFrom=fulltext" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Constellation Design and Performance Analysis of the Parallel Spatial Modulation</em><br>
    M. Mohaisen<br>
    <strong>International Journal of Communication Systems</strong>, 2019, [<a "https://onlinelibrary.wiley.com/doi/10.1002/dac.4165" target="_blank">Link</a>]
  </li>
  <br>

    <li>
    <em>Generalized Complex Quadrature Spatial Modulation</em><br>
    M. Mohaisen<br>
    <strong>Wireless Communications and Mobile Computing</strong>, 2019, [<a "https://onlinelibrary.wiley.com/doi/10.1155/2019/3137927" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Investigating DNS Manipulation by Open DNS Resolvers</em><br>
    J. Park, M. Mohaisen, A. Mohaisen<br>
    <strong>ACM CoNEXT</strong>, 2019, [<a "https://dl.acm.org/doi/10.1145/3360468.3368172" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Reduced Complexity Lattice-based Multiple-input Multiple-output Schemes</em><br>
    N. Ouni,K. Tourki, M. Mohaisen, R. Bouallegue<br>
    <strong>IET Communications</strong>, 2019, [<a "https://ietresearch.onlinelibrary.wiley.com/doi/epdf/10.1049/iet-com.2018.5586" target="_blank">Link</a>]
  </li>
  <br>

  <li>
    <em>Where Are You Taking Me? Behavioral Analysis of Open DNS Resolvers</em><br>
    J. Park, A. Khormali, M. Mohaisen, A. Mohaisen<br>
    <strong>IEEE/IFIP DSN</strong>, 2019, [<a "https://ieeexplore.ieee.org/document/8809494" target="_blank">Link</a>]
  </li>
  <br>
  
  <li>
    <em>Where Are You Taking Me? Behavioral Analysis of Open DNS Resolvers</em><br>
    J. Park, A. Khormali, M. Mohaisen, A. Mohaisen<br>
    <strong>IEEE/IFIP DSN</strong>, 2019, [<a "https://ieeexplore.ieee.org/document/8809494" target="_blank">Link</a>]
  </li>

</ol>

<!-- {% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->


